@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&family=Raleway:wght@600&display=swap');
body {
    background-color: rgb(228, 228, 228);
    font-family: 'Raleway', sans-serif;
    color: black;
}
header {
    background-color: rgb(51, 51, 51);
}
.logo {
    display: flex;
    justify-content: center;
}
.botones {
    padding-top: 40px;
    font-family: 'Bebas Neue';
    font-size: 30px;
}
header a {
    text-decoration: none;
    color: white;
}
section {
    margin-top: 60px;
    margin-bottom: 60px;
}
.portada {
    padding-top: 40px;
}
.img1 {
    display: flex;
    justify-content: center; 
}
.titulo{
    font-family: 'Bebas Neue';
    font-size: 50px;
}
.titulo a {
    text-decoration: none;
    color: rgb(0, 185, 31);
}
button,
.submit {
    border-radius: 8px;
    padding: 0px 20px;
    font-size: 20px;
    font-family: 'bebas neue';
    background-color:rgb(0, 185, 31); 
    border: 1px solid black;
}
.videos {
    padding-top: 40px;
}
.final {
    padding-top: 40px;
}
.redes {
    padding-top: 40px;
    
}
footer {
    background-color: rgb(51, 51, 51);
    color: white;
}
i {
    text-decoration: none;
    color: white;
}
.menufinal { 
    list-style: none;
}
.menufinal li {
    display: inline;
    padding-left: 8px;
    padding-right: 8px;
}
.letritas{
    padding-top: 60px;
    font-size: 10px;
}
.idioma {
    background-color: white;
    font-size: 20px;
    padding: 1px 20px;
    font-family: 'Raleway', sans-serif;

}
.noti1 {
    font-family: 'Bebas Neue';
    font-size: 80px;
    text-align: center;
}
.come1 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 20px 200px;
}
.leyendonoti , .videomas {
    text-decoration: none;
    color:rgb(0, 185, 31); 
    background-color: rgb(51, 51, 51);
    padding: 10px 10px;
    border-radius: 15px;
    border: 5px;
}
a h3 {
    text-decoration: none;
    color: black;
}
h3 {
    font-family: 'bebas neue';
    font-size: 30px;
}
.fondo {
    background: linear-gradient(rgb(209 209 209 / 30%), rgb(211 255 229 / 30%));
    border-radius: 20px;

}
.espacio {
    padding: 30px 30px;
}
.centro-nav {
    max-width: 600px;
    margin: 0 auto;
}
.commentlist {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
